@font-face {
	font-family: 'AkzidenzGroteskBQ-Reg';
	src: local('AkzidenzGroteskBQ-Reg'),
		url('~assets/fonts/AkzidenzGroteskBQ-Reg.woff') format('woff');
	font-weight: normal;
}

@font-face {
	font-family: 'AkzidenzGroteskBQ-Bold';
	src: local('AkzidenzGroteskBQ-Bold'),
		url('~assets/fonts/AkzidenzGroteskBQ-Bold.woff') format('woff');
	font-weight: bold;
}
