@import 'fonts';
@import 'variables';

html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	font-family: 'AkzidenzGroteskBQ-Reg';
	font-size: 1.6rem;
	background-color: var(--clr-sand);
	color: var(--clr-dark-gray);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

img {
	display: block;
	max-width: 100%;
	object-fit: cover;
}

// app transitions
.fade-enter-active,
.fade-leave-active,
.page-enter-active,
.page-leave-active {
	transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to,
.page-enter,
.page-leave-to {
	opacity: 0;
}
