:root {
	--clr-red: #e94235;
	--clr-blue: 41, 56, 148;
	// --clr-blue: #293894;
	--clr-dark-gray: #1b1b1b;
	--clr-dark-gray-two: 27, 27, 27;
	--clr-light-gray: #6b6b65;
	--clr-light-gray-radial: #e8e9e3;
	--clr-concrete: #cfd1c7;
	--clr-sand: #dfe0d9;
	--clr-white: #ffffff;
}

