<template>
	<div class="accordion">
		<AccordionItem
			v-for="({ name, options }, index) in flyup"
			:key="index"
			:name="name"
			:options="options"
		/>
	</div>
</template>

<script>
import AccordionItem from '~/components/AccordionItem'
export default {
	components: {
		AccordionItem
	},
	data() {
		return {
			flyup: [
				{
					name: 'Type',
					options: [
						'Competitive',
						'Ultimate Team',
						'Kick Off',
						'Skill Games',
						'Practice Arena'
					]
				},
				{
					name: 'Gamemode',
					options: [
						'Squard Battles',
						'Ultimate Team',
						'Kick Off',
						'Skill Games',
						'Practice Arena'
					]
				},
				{
					name: 'Lobby Status',
					options: [
						'Invite Only',
						'Ultimate Team',
						'Kick Off',
						'Skill Games',
						'Practice Arena'
					]
				}
			]
		}
	}
}
</script>

<style lang="scss" scoped>
.accordion {
	padding: 1.6rem 1.6rem 0 1.6rem;
	margin: 0 auto;
	position: fixed;
	bottom: 9rem;
	left: 0;
	right: 0;
	// z-index: 2;
	background-color: var(--clr-sand);
}
</style>
