<template>
	<div class="accordion__row" :class="{ isActive: active }">
		<h3>{{ name }}</h3>
		<div>
			<p v-if="!active">{{ selected }}</p>
			<ul v-else>
				<li v-for="item in options" :key="item" @click="setValue(item)">
					{{ item }}
				</li>
			</ul>
		</div>
		<img
			src="~/assets/icons/gf-caret-down.svg"
			alt="down caret icon"
			@click="handleToggle"
		/>
	</div>
</template>

<script>
export default {
	props: {
		name: String,
		options: Array
	},
	data() {
		return {
			active: false,
			selected: ''
		}
	},
	mounted() {
		this.selected = this.options[0]
	},
	methods: {
		handleToggle() {
			this.active = !this.active
		},
		setValue(val) {
			this.selected = val
			this.active = false
		}
	}
}
</script>

<style lang="scss" scoped>
.accordion {
	&__row {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
		padding: 1.6rem 0;
		border-top: 1px solid var(--clr-concrete);

		h3,
		p,
		li {
			font-size: 1.4rem;
			line-height: 1.6rem;
			letter-spacing: -0.5px;
		}

		h3 {
			font-family: 'AkzidenzGroteskBQ-Bold';
		}

		p,
		li {
			font-family: 'AkzidenzGroteskBQ-Reg';
		}

		li {
			padding-bottom: 1.6rem;
			cursor: pointer;
			&:not(:first-of-type) {
				padding-top: 1.6rem;
			}
		}

		ul {
			list-style: none;
			padding-bottom: calc(100vh - 60rem);
		}

		img {
			cursor: pointer;
			justify-self: end;
			width: 10px;
			transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}
	}
	&__row.isActive {
		img {
			transform: rotate(180deg);
		}
	}
}
</style>
