<template>
	<div
		class="cta"
		:class="[
			path === '/' ? 'cta__fixed' : 'cta__abs',
			searching && path !== '/' ? 'cta__black' : 'cta__blue'
		]"
	>
		<template v-if="path === '/'">
			<nuxt-link
				to="/queue"
				class="cta__link"
				@click.native="toggleSearch"
				>Play Now</nuxt-link
			>
			<p>4,021 in Queue</p>
			<img
				src="~/assets/icons/gf-arrow-right.svg"
				alt="arrow right icon"
			/>
		</template>

		<template v-else>
			<nuxt-link v-if="searching" to="/queue" class="cta__link"
				>Searching <span class="cta__ellipsis"></span
			></nuxt-link>
			<nuxt-link v-else to="/queue" class="cta__link">Accept</nuxt-link>

			<app-timer></app-timer>

			<img
				v-if="searching"
				src="~/assets/icons/gf-close.svg"
				alt="close icon"
				@click="cancelTimer"
			/>
			<img
				v-else
				src="~/assets/icons/gf-arrow-right.svg"
				alt="arrow right icon"
			/>
		</template>
	</div>
</template>

<script>
import { mapState } from 'vuex'
import Timer from '~/components/Timer'
export default {
	name: 'Cta',
	components: {
		'app-timer': Timer
	},
	props: {
		path: String,
		linkText: String,
		mainText: String
	},
	data() {
		return {
			toggleTimer: false
		}
	},
	computed: mapState(['searching']),
	methods: {
		toggleSearch() {
			this.$store.dispatch('toggleSearch', true)
			this.$store.dispatch('toggleTimer', true)
		},
		cancelTimer() {
			this.$store.dispatch('toggleTimer', false)
		}
	}
}
</script>

<style lang="scss" scoped>
.cta {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.6rem;
	height: 9rem;
	color: var(--clr-white);

	p {
		font-family: 'AkzidenzGroteskBQ-Reg';
		font-weight: lighter;
		font-size: 1.4rem;
		line-height: 1.6rem;
		letter-spacing: -0.5px;
	}

	img {
		cursor: pointer;
	}

	&__black {
		background-color: rgba(var(--clr-dark-gray-two), 1);
	}

	&__blue {
		background-color: rgba(var(--clr-blue), 1);
	}

	&__fixed {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}

	&__abs {
		position: absolute;
		right: 0;
		top: calc(78vh + 10.5rem);
		width: 75%;
		transform: translateY(-50%);
	}

	&__link {
		border: none;
		background-color: inherit;
		text-decoration: none;
		color: inherit;
		font-family: 'AkzidenzGroteskBQ-Bold';
		font-size: 1.4rem;
		line-height: 1.6rem;
		letter-spacing: -0.5px;
		cursor: pointer;
		width: 40%;
		white-space: nowrap;
	}

	&__ellipsis {
		&:after {
			overflow: hidden;
			display: inline-block;
			vertical-align: bottom;
			animation: ellipsis steps(4, end) 1000ms infinite;
			content: '\2026';
			width: 0px;
		}
	}
	@keyframes ellipsis {
		to {
			width: 20px;
		}
	}
}
</style>
