<template>
	<div class="lobby">
		<app-nav :path="path"></app-nav>
		<app-user :user="user"></app-user>
		<app-accordion></app-accordion>
		<app-cta :path="path"></app-cta>
	</div>
</template>

<script>
import Nav from '~/components/Nav'
import User from '~/components/User'
import Accordion from '~/components/Accordion'
import Cta from '~/components/Cta'
export default {
	name: 'Lobby',
	components: {
		'app-nav': Nav,
		'app-user': User,
		'app-accordion': Accordion,
		'app-cta': Cta
	},
	data() {
		return {
			user: ''
		}
	},
	computed: {
		path() {
			return this.$route.path
		}
	},
	created() {
		// Getting user data from store or on login
		this.user = {
			name: 'steveroesler',
			imgSrc: '../assets/images/gf-avatar-01.jpg',
			team: [],
			status: 'ready',
			gRating: 74
		}
	}
}
</script>

<style lang="scss" scoped>
.lobby {
	min-height: 100vh;
	position: relative;
	overflow-x: hidden;
	margin-top: 15.7rem;
	margin-bottom: 9rem;
}
</style>
