<template>
	<nav class="nav" :class="[path === '/' ? 'nav__fixed' : '']">
		<div class="nav__main">
			<nuxt-link to="/" class="nav__left">
				<img
					class="nav__logo"
					src="~/assets/icons/gfinity-logo-neg.svg"
					alt="gfinity logo"
				/>
			</nuxt-link>
			<div class="nav__right">
				<p class="nav__text">FIFA 19</p>
				<img
					src="~/assets/icons/gf-nav-def.svg"
					alt="gfinity-hamburger icon"
				/>
			</div>
		</div>
		<div v-if="$route.path === '/'" class="nav__sub">
			<nuxt-link to="/">
				<img
					src="~/assets/icons/gf-arrow-left.svg"
					alt="left arrow icon"
				/>
			</nuxt-link>
			<p>Matchmaking Lobby</p>
		</div>
	</nav>
</template>

<script>
export default {
	props: {
		path: String
	}
}
</script>

<style lang="scss" scoped>
.nav {
	overflow: hidden;
	&__fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: var(--clr-sand);
		&::before {
			content: ' ';
			display: block;
			position: absolute;
			right: -95%;
			top: -60%;
			bottom: 0;
			left: 0;
			opacity: 1;
			mix-blend-mode: multiply;
			background-image: url('../assets/images/fifa19-ronaldo-fg-lg.jpg');
			background-repeat: no-repeat;
			background-position: center center;
			z-index: -1;
		}
	}
	&__main {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
		height: 10.5rem;
	}
	&__left,
	&__right {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__left {
		min-width: 10.5rem;
		background-color: var(--clr-dark-gray);
	}
	&__right {
		padding: 0 2.4rem;
		img {
			cursor: pointer;
		}
	}
	&__text {
		font-family: 'AkzidenzGroteskBQ-Bold';
		font-size: 1.4rem;
		line-height: 1.6rem;
		letter-spacing: -0.5px;
		margin-right: 2.4rem;
		white-space: nowrap;
	}
	&__sub {
		display: flex;
		align-items: center;
		padding: 1.6rem 0;
		border-bottom: 1px solid var(--clr-concrete);
		margin: 0 1.6rem;

		p {
			font-family: 'AkzidenzGroteskBQ-Bold';
			font-size: 1.6rem;
			line-height: 1.9rem;
			letter-spacing: -0.5px;
			margin-left: 2.4rem;
		}

		img {
			cursor: pointer;
		}
	}
}
</style>
