<template>
	<div>
		<div
			class="search"
			:class="[searching ? 'search__blue' : 'search__black']"
		>
			<div class="search__img">
				<img
					src="~/assets/icons/gf-arrow-left-white.svg"
					alt="left arrow icon"
					@click="$router.back()"
				/>
			</div>
			<h3>Matchmaking Lobby</h3>

			<h2 v-if="searching">Searching for compatible opponents</h2>
			<h2 v-else>A match has been found for you!</h2>

			<p v-if="searching" class="search__text">
				We’re searching our database of players to pair you with an
				opponent of similar skill
			</p>
			<p v-else class="search__text">
				We’ve found a compatible opponent for you to play Squad Battles
				with in FIFA 19
			</p>

			<div class="profile">
				<div class="profile__user">
					<p>Lobby</p>
					<img src="../assets/images/gf-avatar-01.jpg" alt="user" />
				</div>
				<div class="profile__stats">
					<img src="../assets/icons/gf-rectangle.svg" alt="user" />
					<p v-if="searching"><span>4,021</span> in Queue</p>
					<p v-else>
						By tapping accept, you agree to play a match that may
						last for up to 30 minutes.
					</p>
				</div>
			</div>
		</div>
		<app-cta :path="$route.path"></app-cta>
	</div>
</template>

<script>
import { mapState } from 'vuex'
import Cta from '~/components/Cta'
export default {
	name: 'SearchBox',
	components: {
		'app-cta': Cta
	},
	computed: mapState(['searching'])
}
</script>

<style lang="scss" scoped>
.search {
	position: relative;
	min-height: 78vh;
	max-width: 95%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10.5rem 1.6rem 5.2rem;
	color: var(--clr-white);

	&__blue {
		background-color: rgba(var(--clr-blue), 0.9);
	}

	&__black {
		background-color: rgba(var(--clr-dark-gray-two), 0.9);
	}

	h3 {
		font-family: 'AkzidenzGroteskBQ-Bold';
		font-size: 1.6rem;
		line-height: 1.9rem;
		letter-spacing: -0.5px;
		margin-bottom: 2.4rem;
	}
	h2 {
		font-family: 'AkzidenzGroteskBQ-Bold';
		font-size: 4.8rem;
		line-height: 4.4rem;
		letter-spacing: -3px;
		margin-bottom: 2.4rem;
	}
	p {
		font-family: 'AkzidenzGroteskBQ-Reg';
		font-weight: lighter;
		font-size: 1.8rem;
		line-height: 2.2rem;
		letter-spacing: -0.75px;
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 10.5rem;
		height: 10.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--clr-dark-gray);
		img {
			cursor: pointer;
		}
	}

	&__text {
		margin-bottom: 6rem;
	}

	@media screen and (max-width: 340px) {
		h2 {
			font-size: 3rem;
			line-height: 2.8rem;
			letter-spacing: -3px;
			margin-bottom: 2.4rem;
		}
	}
}

.profile {
	p {
		font-family: 'AkzidenzGroteskBQ-Reg';
		font-size: 1.2rem;
		line-height: 1.4rem;
	}
	&__user,
	&__stats {
		display: grid;
		grid-template-columns: 8rem 1fr;
		grid-auto-flow: dense;
	}

	&__user {
		margin-bottom: 3.6rem;
		p {
			align-self: center;
		}
		img {
			max-width: 5.6rem;
			border-radius: 50%;
			outline: 2px solid var(--clr-white);
			outline-offset: 5px;
		}
	}

	&__stats {
		span {
			font-weight: bold;
		}
		img {
			align-self: center;
		}
	}
}
</style>
