<template>
	<div>
		<div>
			{{ totalSeconds > 0 ? '-' : '' }} {{ timerMinutes }}:{{
				timerSeconds
			}}
		</div>
	</div>
</template>
<script>
import { mapState } from 'vuex'
export default {
	name: 'Timer',
	data() {
		return {
			isActive: false,
			timerType: 0,
			totalSeconds: 0.25 * 60,
			timeInstance: null
		}
	},
	computed: {
		...mapState(['timer']),
		timerMinutes() {
			const minutes = Math.floor(this.totalSeconds / 60)
			return this.formatTime(minutes)
		},
		timerSeconds() {
			const sec = this.totalSeconds % 60
			return this.formatTime(sec)
		}
	},
	watch: {
		timer(newValue) {
			if (newValue === true) {
				this.start()
			} else {
				this.stop()
			}
		}
	},

	mounted() {
		if (this.timer) this.start()
	},
	methods: {
		formatTime(time) {
			if (time < 10) {
				return '0' + time
			}
			return time.toString()
		},
		start() {
			this.timeInstance = setInterval(() => {
				this.totalSeconds -= 1
				if (
					Math.floor(this.totalSeconds / 60) === 0 &&
					this.totalSeconds % 60 === 0
				) {
					clearInterval(this.timeInstance)
					this.totalSeconds = 0
					this.isActive = false
					this.$store.dispatch('toggleSearch', false)
				}
			}, 1000)
			this.isActive = true
		},
		stop() {
			clearInterval(this.timeInstance)
			this.isActive = false
			this.totalSeconds = 0
			this.$router.push('/')
		}
	}
}
</script>
<style scoped></style>
