<template>
	<section class="user">
		<div class="user__heading">
			<h2>{{ user.name }}'s lobby</h2>
			<img
				src="~/assets/icons/gf-lock.svg"
				alt="gfinity-lock icon"
				@click="$router.back()"
			/>
		</div>
		<div class="user__pill">
			FIFA 19
		</div>
		<div class="user__info">
			<div class="user__card--main">
				<img src="../assets/images/gf-avatar-01.jpg" :alt="user.name" />
				<div class="user__role">
					<h3>Team Leader /</h3>
					<span>{{ user.name }}</span>
				</div>
			</div>
			<div class="user__card--team">
				<img src="" alt="" />
				<div class="user__role">
					<h3>Team Player /</h3>
					<div>
						<span>Invite Player</span>
						<img
							src="~/assets/icons/gf-caret-right.svg"
							alt="right caret icon"
						/>
					</div>
				</div>
			</div>
		</div>
		<div class="user__stat">
			<span>{{ user.status }}</span>
			<span
				><img src="~/assets/icons/gf-pts-g.svg" alt="g icon" /><sup>{{
					user.gRating
				}}</sup></span
			>
		</div>
	</section>
</template>

<script>
export default {
	props: {
		user: Object
	}
}
</script>

<style lang="scss" scoped>
.user {
	padding: 1.6rem;
	margin: 0 auto;
	height: 100%;
	&__heading {
		display: flex;
		align-items: center;
		gap: 1.4rem;
		margin-bottom: 1.3rem;
		h2 {
			font-family: 'AkzidenzGroteskBQ-Bold';
			font-size: 3.6rem;
			line-height: 4.4rem;
			letter-spacing: -2px;
		}
	}
	&__pill {
		background-color: var(--clr-dark-gray);
		color: var(--clr-white);
		width: min-content;
		white-space: nowrap;
		padding: 1px 7px 1px 5px;
		border-top-right-radius: 2rem;
		border-bottom-right-radius: 2rem;
		font-family: 'AkzidenzGroteskBQ-Bold';
		font-size: 1rem;
		line-height: 1.2rem;
		letter-spacing: 1.5px;
		text-transform: uppercase;
		margin-bottom: 2.4rem;
	}
	&__info {
		display: grid;
		grid-template-columns: repeat(auto-fill, 14rem);
		grid-gap: 1.2rem;
		margin-bottom: 1.9rem;
	}
	&__card--main {
		img {
			border-radius: 6px;
			min-height: 18.7rem;
			margin-bottom: 1.6rem;
		}
	}
	&__card--team {
		img:nth-child(1) {
			border: 1px solid var(--clr-concrete);
			border-radius: 6px;
			min-height: 18.7rem;
			margin-bottom: 1.6rem;
		}
		img:nth-child(2) {
			width: 8px;
			margin-left: 1.2rem;
		}
	}
	&__role {
		h3 {
			font-family: 'AkzidenzGroteskBQ-Reg';
			font-weight: lighter;
			color: var(--clr-light-gray);
			font-size: 1.2rem;
			line-height: 1.4rem;
			margin-bottom: 6px;
		}
		div {
			display: flex;
			align-items: center;
			cursor: pointer;
			&:hover img {
				transition: transform 0.3s;
				transform: translateX(0.5rem);
			}
		}
		span {
			font-family: 'AkzidenzGroteskBQ-Bold';
			font-size: 1.6rem;
			line-height: 1.9rem;
			letter-spacing: -0.5px;
			color: var(--clr-dark-gray);
		}
	}
	&__stat {
		display: flex;
		align-items: center;
		span {
			font-family: 'AkzidenzGroteskBQ-Bold';
		}
		span:nth-child(1) {
			font-size: 1rem;
			line-height: 1.2rem;
			letter-spacing: 1.5px;
			text-transform: uppercase;
			border: 1px solid var(--clr-dark-gray);
			padding: 3px 5px;
		}
		span:nth-child(2) {
			display: flex;
			margin-left: 1.2rem;
			color: var(--clr-red);
			img {
				margin-right: 2px;
			}

			sup {
				margin-top: -2px;
			}
		}
	}
	@media screen and (max-width: 340px) {
		&__heading {
			h2 {
				font-size: 3rem;
				line-height: 4rem;
			}
		}
	}
}
</style>
