<template>
	<div>
		<section v-if="allowedWidth">
			<app-lobby></app-lobby>
		</section>

		<section v-else class="container">
			<img
				class="container__image"
				src="~/assets/icons/sad-outline.svg"
				alt="not-allowed emoji"
			/>
			<h1 class="container__heading">
				Sorry, this website is best experienced on a mobile device. Do
				you wish to continue?
			</h1>
			<div class="container__btns">
				<button @click="allowedWidth = true">Yes</button>
				<button @click="allowedWidth = false">No</button>
			</div>
		</section>
	</div>
</template>
<script>
import Lobby from '~/components/Lobby'
export default {
	components: {
		'app-lobby': Lobby
	},
	data() {
		return {
			allowedWidth: false
		}
	},
	mounted() {
		this.$nextTick(function() {
			this.onResize()
		})
		window.addEventListener('resize', this.onResize)
	},
	destroyed() {
		window.removeEventListener('resize', this.onResize)
	},
	methods: {
		onResize() {
			if (document.documentElement.clientWidth < 600) {
				this.allowedWidth = true
			} else {
				this.allowedWidth = false
			}
		}
	}
}
</script>
<style lang="scss" scoped>
.container {
	margin: 0 auto;
	min-height: 100vh;
	max-width: 95%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 1rem;
	font-size: 1.6rem;
	&__image {
		width: 5rem;
	}
	&__heading {
		font-size: 2rem;
		margin-bottom: 2rem;
	}
	&__btns {
		display: flex;
		gap: 3rem;
		button {
			min-width: 10rem;
			font-size: 1.6rem;
			padding: 0.8em 1.5em;
		}
	}
}
</style>
