<template>
	<div class="queue">
		<app-nav :path="path"></app-nav>
		<app-search></app-search>
	</div>
</template>

<script>
import Nav from '~/components/Nav'
import SearchBox from '~/components/SearchBox'

export default {
	name: 'Queue',
	components: {
		'app-nav': Nav,
		'app-search': SearchBox
	},
	computed: {
		path() {
			return this.$route.path
		}
	}
}
</script>

<style lang="scss" scoped>
.queue {
	min-height: 100vh;
	position: relative;
	overflow-x: hidden;

	&::before {
		content: ' ';
		display: block;
		position: absolute;
		right: -10%;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 1;
		mix-blend-mode: multiply;
		background-image: url('../assets/images/fifa19-ronaldo-fg-lg.jpg'),
			url('../assets/icons/gfinity-g-pos.svg');
		background-repeat: no-repeat;
		background-position: center center, bottom left;
		background-size: contain;
		z-index: -1;
	}
}
</style>
